page-card-detail {
  .card-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .card-detail {
    width: 100%;
    position: absolute;
  }

  input {
    display: none;
  }
}
