<ion-header>

  <ion-navbar primary>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-left class="page-title">Matches</ion-title>
    <button ion-button float-right (click)="addItem()">
      Host
    </button>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="!isDataAvailable">
  <ion-card-content>
    <h3 primary float-left>No Matches Available</h3>
  </ion-card-content>
</ion-content>
<ion-content>
  <ion-grid ng-if="isDataAvailable">
    <ion-row>
      <ion-col *ngFor="let item of cardItems" col-12 col-xl-4 col-lg-6 col-md-8>
        <ion-card (click)="openItem(item)">
          <ion-item>
            <ion-avatar item-start>
              <!-- <img [src]="item.user.avatar"> -->
              <img src="../../assets/icon/m416.png">
            </ion-avatar>
            <h2>{{item.title}}</h2>
            <p>{{item.createdAt}}</p>
          </ion-item>

          <!-- <img [src]="item.image"> -->
          <img src="../../assets/imgs/pubg.jpg">

          <ion-card-content>
            <p style="color: #f53d3d">{{item.description}}</p>
          </ion-card-content>

          <!-- <ion-row>
            <ion-col>
              <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='thumbs-up'></ion-icon>
                  12 Likes
                </button>
            </ion-col>
            <ion-col>
              <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comments
                </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>